<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" v-on:click.prevent="goPrevPage">Previous</a></li>
      <li v-for="page in pageMax"
          v-bind:class="{disabled : (pageCurrent===page)}"
          v-bind:key="page" 
          class="page-item" >
        <a class="page-link" v-on:click.prevent="gotoPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" ><a class="page-link" v-on:click.prevent="goNextPage">Next</a></li>
    </ul>
  </nav>
</template>

<script>
export default {
    model: {
        prop: 'pageCurrent'
    },
    props: {
        pageCurrent: {
            type: Number,
            required: true
        },
        pageMax: {
            type: Number,
            required: true
        }
    },
    methods: {
        goPrevPage: function() {
            if (this.pageCurrent > 1) this.gotoPage(this.pageCurrent - 1)
        },
        goNextPage: function() {
            if (this.pageCurrent < this.pageMax) this.gotoPage(this.pageCurrent + 1)
        },
        gotoPage: function(page) {
            this.$emit('input', page)
        }
    }
}
</script>
