<template>
  <div class="jumbotron">
    <h1>Add user</h1>
    <user-form ref="userform" v-model="user" />
    <button type="button" class="btn btn-primary" v-on:click="addUser(user)">Add</button>&nbsp;
    <button type="button" class="btn btn-primary" v-on:click="goBack">Cancel</button>
  </div>
</template>

<script>
import userForm from '@/components/UserForm.vue'
import NProgress from 'nprogress'
import axios from '@/axios.js'

export default {
    name: 'AddUser',
    components: {
        'user-form': userForm
    },
    data: function() {
        return {
            user: {
                isActive: false,
                balance: '$0',
                picture: '',
                age: 0,
                accessLevel: 'guest',
                firstName: '',
                lastName: '',
                company: '',
                email: '',
                phone: '',
                address: '',
                about: '',
                registered: ''
            }
        }
    },
    methods: {
        addUser: function(user) {
            this.$refs.userform.$validator.validate().then(result => {
                if (!result) {
                    alert('Some fields are not valid')
                    return
                } else {
                    NProgress.start()
                    axios
                        .post('users', user)
                        .then(response => {
                            NProgress.done()
                            this.showUserEdit(response.data.id) ///users/${this.$route.params.id}
                        })
                        .catch(function(error) {
                            console.log(error)
                        })
                }
            })
        },
        showUserEdit: function(uid) {
            this.$router.push({ name: 'edituser', params: { id: uid } })
        },
        goBack: function() {
            this.$router.back()
        }
    }
}
</script>
