<template>
  <div class="jumbotron">
    <h1>Edit User</h1>
    <div class="form-group">
      <button type="button" class="btn" v-on:click="goPrevUser">Prevoius</button>
      <button type="button" class="btn" v-on:click="goNextUser">Next</button>
    </div>
    <user-form v-if="user" ref="userform" v-model="user" />
    <div v-else><h1>Loading...</h1><img src="@/assets/loader.gif"></div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" v-on:click="saveUser">Save</button>&nbsp;
      <button type="button" class="btn btn-primary" v-on:click="deleteUser">Delete</button>
    </div>
  </div>
</template>

<script>
import userForm from '@/components/UserForm.vue'
import NProgress from 'nprogress'
import axios from '@/axios.js'

export default {
    name: 'EditUser',
    components: {
        'user-form': userForm
    },
    data: function() {
        return {
            user: null,
            userLoaded: false
        }
    },
    computed: {
        userid: function() {
            return Number(this.$route.params.id)
        },
        userlink: function() {
            return `/users/${this.$route.params.id}`
        }
    },
    watch: {
        userid: 'loadData'
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData: function() {
            axios
                .get(this.userlink)
                .then(response => {
                    this.user = Object.assign({}, response.data)
                })
                .catch(error => {
                    console.log(error)
                    alert('Error when loading user')
                    this.$router.back()
                })
        },
        saveUser: function() {
            this.$refs.userform.$validator.validate().then(result => {
                if (!result) {
                    alert('Some fields are invalid')
                    return
                } else {
                    NProgress.start()
                    axios
                        .patch(this.userlink, this.user)
                        .then(() => {
                            NProgress.done()
                            this.showUserList()
                        })
                        .catch(function(error) {
                            console.log(error)
                        })
                }
            })
        },
        deleteUser: function() {
            NProgress.start()
            axios
                .delete(this.userlink)
                .then(() => {
                    NProgress.done()
                    this.showUserList()
                })
                .catch(function(error) {
                    console.log(error)
                })
        },
        changeUser: function(isLeftDirection) {
            let uid
            uid = isLeftDirection ? this.userid - 1 : this.userid + 1
            this.user = null
            this.$router.push({ name: 'edituser', params: { id: uid } })
        },
        goPrevUser: function() {
            this.changeUser(true)
        },
        goNextUser: function() {
            this.changeUser(false)
        },
        showUserList: function() {
            this.$router.push({ name: 'users-list' })
        }
    }
}
</script>
