<template>
  <div class="form-group">
    <div class="form-group">
      <label>Picture</label><br>
      <img v-if="!isLoading" v-bind:src="imgUrl" class="img-thumbnail">
      <img v-else src="@/assets/loader.gif">
      <input v-model="localURL" type="text" class="form-control">
      <div ref="imageform" class="alert alert-primary">
        Just click to browse or drop files here
      </div>
    </div>
  </div>
</template>

<script>
import Dropzone from 'dropzone'

export default {
    name: 'ImgurUploader',
    model: {
        prop: 'imgUrl'
    },
    props: {
        imgUrl: {
            type: String,
            required: true
        }
    },
    data: function() {
        return {
            clientID: 'd53ac628c2a7b9b',
            clientSecret: 'fc666a3cd263e9048dc4b287959f602b43a85d78',
            clientRefresh_token: '486c78b6ffc78d331b528b3c0f8324a62b1dca8a',
            clientAccess_token: 'c113ccde5fd9d3ddf0f2a7a2ca96cc40b228eacc',
            AccessTokenURL: 'https://api.imgur.com/oauth2/token',
            uploadimageURL: 'https://api.imgur.com/3/image',
            isLoading: false,
            localURL: null,
            dropzone: null
        }
    },
    watch: {
        imgUrl: function() {
            this.localURL = this.imgUrl
        },
        localURL: function(val) {
            if (this.imgUrl !== val) this.changeImageURL(val)
        }
    },
    mounted() {
        this.localURL = this.imgUrl
        this.dropzone = new Dropzone(this.$refs.imageform, {
            url: this.uploadimageURL,
            paramName: 'image',
            headers: {
                'Cache-Control': null,
                'X-Requested-With': null,
                Authorization: `Bearer ${this.clientAccess_token}`
            },
            createImageThumbnails: false,
            previewTemplate: '<div></div>', //пустой контейнер чтобы не отображать элементы dropzone
            resizeWidth: 200,
            resizeHeight: 200
        })
        this.dropzone.on('sending', () => {
            this.isLoading = true
        })
        this.dropzone.on('success', (event, answer) => {
            this.isLoading = false
            this.localURL = answer.data.link
        })
        this.dropzone.on('error', (event, errorMessage) => {
            this.isLoading = false
            alert('Some errors have occurred during uploading image, look console for details')
            console.log(errorMessage)
        })
    },
    beforeDestroy() {
        this.dropzone.destroy()
    },
    methods: {
        changeImageURL: function(url) {
            this.$emit('input', url)
        }
    }
}
</script>
