<template>
  <div>
    <label for="basic-switch">{{ label }}</label>&nbsp;
    <div ref="mdc_switch" class="mdc-switch">
      <div class="mdc-switch__track" />
      <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb">
          <input type="checkbox" class="mdc-switch__native-control" role="switch" v-on:click="returnSelection">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { MDCSwitch } from '@material/switch'
import '@material/switch/dist/mdc.switch.min.css'

export default {
    name: 'SwitchControl',
    model: {
        prop: 'status'
    },
    props: {
        status: {
            type: Boolean,
            required: true
        },
        label: {
            type: String,
            default: 'off/on'
        }
    },
    data: function() {
        return {
            control: null
        }
    },
    mounted() {
        this.control = new MDCSwitch(this.$refs.mdc_switch)
        this.control.checked = this.status
    },
    methods: {
        returnSelection: function() {
            this.$emit('input', this.control.checked)
        }
    }
}
</script>
