<template>
  <div>
    <input 
      v-model="searchString" 
      v-bind:placeholder="placeholder" 
      type="text"
      v-on:keyup.enter="applyFilter">
    <button type="button" class="btn" v-on:click="clearFilter">Clear</button>
  </div>
</template>
<script>
export default {
    name: 'TableFilter',
    model: {
        prop: 'filterString'
    },
    props: {
        filterString: {
            type: String,
            required: true
        },
        filterRepr: {
            type: String,
            required: true
        }
    },
    data: function() {
        return {
            searchString: null
        }
    },
    computed: {
        placeholder: function() {
            return 'Search by ' + this.filterRepr
        }
    },
    methods: {
        applyFilter: function() {
            this.$emit('input', this.searchString)
        },
        clearFilter: function() {
            this.searchString = ''
            this.$emit('input', '')
        }
    }
}
</script>
