<template>
  <table class="table table-hover">
    <thead>
      <tr>
        <slot name="headers" />
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in userslist" v-bind:key="user.id">
        <slot v-bind="user" name="content"/>
      </tr>
    </tbody>
  </table>
</template>


<script>
export default {
    name: 'UsersTable',
    props: {
        userslist: {
            type: Array,
            required: true
        }
    },
    data: function() {
        return {
            selected: null
        }
    },
    methods: {
        selectRow: function(uid) {
            this.$emit('user-selected', uid)
        }
    }
}
</script>

<style>
.icon {
    opacity: 0.5;
    width: 20px;
    height: 20px;
}
.blank {
    border: none;
    background: none;
}
</style>
