<template>
  <div v-if="c_user" class="container">

    <div class="form-group">
      <label for="first-formid">Firstname</label>
      <input v-validate="'required'" id="first-formid" v-model="c_user.firstName" name="First Name" type="text" class="form-control">
      <span v-if="errors.first('First Name')" class="alert alert-warning">{{ errors.first('First Name') }}</span>
    </div>
    <div class="form-group">
      <label for="last-formid">Lastname</label>
      <input v-validate="'required'" id="last-formid" v-model="c_user.lastName" name="Last Name" type="text" class="form-control">
      <span v-if="errors.first('Last Name')" class="alert alert-warning">{{ errors.first('Last Name') }}</span>
    </div>
    <div class="form-group">    
      <label for="email-formid">email</label>
      <input v-validate="'required|email'" id="email-formid" v-model="c_user.email" name="email" type="email" class="form-control">
      <span v-if="errors.first('email')" class="alert alert-warning">{{ errors.first('email') }}</span>
    </div>
    <div class="form-group">
      <label for="phone-formid">Phone</label>
      <input v-validate="'required'" id="phone-formid" v-model="c_user.phone" name="Phone" type="text" class="form-control">
      <span v-if="errors.first('Phone')" class="alert alert-warning">{{ errors.first('Phone') }}</span>
    </div>
    <div class="form-group">
      <imgur-uploader v-model="c_user.picture"/>
    </div>
    <div class="form-group">
      <switch-control v-model="c_user.isActive" v-bind:label="'Is Active'"/>
    </div>
    <div class="form-group">
      <label for="balance-formid">balance</label>
      <input id="balance-formid" v-model="c_user.balance" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="age-formid">age</label>
      <input id="age-formid" v-model.number="c_user.age" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="accessLevel-formid">accessLevel</label>
      <input id="accessLevel-formid" v-model="c_user.accessLevel" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="company-formid">company</label>
      <input id="company-formid" v-model="c_user.company" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="address-formid">address</label>
      <textarea id="address-formid" v-model="c_user.address" type="text" class="form-control" rows="3"/>
    </div>
    <div class="form-group">
      <label for="about-formid">about</label>
      <text-editor id="about-formid" v-model="c_user.about" />
    </div>
    <div class="form-group">
      <label for="registered-formid">registered</label>
      <date-picker id="registered-formid" v-model="c_user.registered" />
    </div>
  </div>
</template>

<script>
import ImGurUploader from '@/components/ImgurUploader.vue'
import DatePicker from '@/components/DatePicker.vue'
import TextEditor from '@/components/TextEditor.vue'
import SwitchControl from '@/components/SwitchControl.vue'
import Vue from 'vue'
import VeeValidate from 'vee-validate'

Vue.use(VeeValidate, { inject: false }) //inject: false чтобы избежать вставки валидации во все компоненты иначе ломаются переменные fields в таблице пользователей

export default {
    $_veeValidate: {
        validator: 'new'
    },
    components: {
        'imgur-uploader': ImGurUploader,
        'date-picker': DatePicker,
        'text-editor': TextEditor,
        'switch-control': SwitchControl
    },
    model: {
        prop: 'user'
    },
    props: {
        user: {
            type: Object,
            required: true
        }
    },
    data: function() {
        return {
            c_user: null
        }
    },
    watch: {
        c_user: {
            handler(newVal, oldVal) {
                if (oldVal) this.$emit('input', newVal)
            },
            deep: true
        }
    },
    mounted() {
        this.c_user = Object.assign({}, this.user)
    }
}
</script>
